@media screen and (min-width: 1000px){
    .info {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        margin: 0;
    }

    .container nav {
        width: 50%;
        margin: 0;
    }

    .jogo-principal {
        background-size: cover;
        background-position: center;
    }

    .descricao {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 0;
    }

    .container nav {
        width: 100%;
        margin: 0;
    }

    .jogo-principal {
        background-size: cover;
        background-position: center;
    }

    .descricao {
        width: 80%;
    }
}
